/*html, body, {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}*/

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: coral;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

#table {
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color: floralwhite;
    color: black;
    font-style: arial;
    text-align: center;
    vertical-align:auto;
}

